// Override default variables before the import
$body-bg: #FFF;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
$enable-gradients: true;
$enable-shadows: true;
