.Dashboard {
    text-align: center;
  }
  
  .Dashboard-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .Dashboard-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  body {
    text-align: center;
  }
  
  form {
    display: inline-block;
  }
  
  html, body, #root, .form-wrapper {
    height: 100%;
  }
  .header-title {
    
    text-align: center;
   
  }
  .buttons-wrapper {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  
  .map-icon
  {
    background: #eeeeee;
    border-radius: 50%;
  }

  h1, h2, p {
    text-align: center;
  }
  .leaflet-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }